@use 'mixins' as mix;


@media screen and (min-width: 575px) {

  //Home - page :

  .video-container {
    height: 350px;
  }

  //Home -components:

  .feature-listing-container {
    .feature-listing {
      .listing-container {
        height: 350px;
      }
    }
  }

  //House detail - page:

  .house-detail-container {
    .carousel-img-container {
      height: 350px;
    }
  }


  // Buy:

  .card-container {
    min-width: 450px;
  }
}

@media screen and (min-width: 775px) {
  //Home - page :

  .video-container {
    height: 468px;
  }

  //Home - components:

  .feature-listing-container {
    margin-top: 120px;

    h1 {
      margin-bottom: 120px;
    }
    .feature-listing {
      .listing-container {
        max-width: 500px;
        height: 350px;
      }

      .cto-home-listing-container {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .nxt-cto {
          min-width: 179.13px;
          @include mix.general-cto(var(--black-base), var(--red-shadow), var(--black-base));
        }
      }
    }
  }

  // Agent card - component:

  .agent-card-container {
    margin-top: 120px;
    margin-bottom: 120px;

    h1 {
      margin-bottom: 120px;
    }

    .agent-effect-container {
      max-width:450px;
      padding: 50px 20px;
      background-color: var(--red-shadow);
      box-shadow: inset 0px 25px 50px 15px #2b020e;

      .agent-position-container {
        width: 100%;
        height: 450px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .agent-card-1 {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          img {
            width: 350px;
            height: 100%;
            object-fit: cover;
          }

          .agent-home-info {
            width: 100%;
            height: 70px;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 20px;
            left: 0;
            bottom: 40px;
            background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--red-shadow));
            transition: all ease-in 200ms;

            h1 {
              color: var(--white-base);
              font-size: 1rem;
              text-transform: uppercase;
              margin: 0;
              font-weight: 600;
              letter-spacing: 1px;
              font-family: var(--montserrat);
              line-height: 25px;
            }

            p {
              color: var(--white-base);
              font-size: 0.7rem;
            }
          }

          .agent-profile-home {
            width: 100%;
            height: 70px;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding-right: 20px;
            right: -100%;
            bottom: 40px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--black-base));
            transition: all ease-in 200ms;

            P {
              font-size: 1.2rem;
              color: var(--white-base);
            }
          }
        }

        .agent-card-2 {
          @extend .agent-card-1;
          opacity: 0;
        }

        @keyframes test {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .opt-effect {
          animation: test 1000ms forwards;
          ;
        }

        &:hover {
          .agent-home-info  {
            left: -100%;
          }

          .agent-profile-home {
            right: 0;
          }
        }
      }
    }
  }

  // Social media home:

  .home-social-container {

    h1 {
      margin-bottom: 70px;
    }

    figcaption {
      width: 600px;
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 600;
      padding: 0px 20px;
    }

    .insta-galery {
      width: 600px;
      margin-bottom: 50px;
    }
  }

  // -- Generic form:

  .generic-form-area {
    width: 600px;
    margin: 120px auto 50px auto;
  }

  // Buy:

  .buy-container {
    .buy-legend-container {
      width: 600px;
      padding: 20px 0px;

      p {
        line-height: 30px;
      }
    }
  }

  // Sell:

  .sell-container {
    width: 600px;
    margin: auto;
  }

  // -- Sell form:

  .sell-form {
    button {
      width: fit-content;
      margin: auto;
      @include mix.general-cto(var(--black-base), var(--red-shadow), var(--black-base));
    }
  }

  // Investment:

  .investment-container {
    width: 600px;
    margin: auto;
  }

  // Team :

  .team-container {
    width: 600px;
    margin: auto;
  }

  // Social Media:

  .social-container {
    width: 600px;
    margin: auto;
  }

  // About :

  .about-container {
    width: 600px;
    margin: auto;
  }

  // Contact:

  .contact-container {
    width: 600px;
    margin: auto;
  }

  // House detail:

  .house-detail-container {
    width: 600px;
    margin: 60px auto 60px auto;

    .carousel-img-container {
      height: 400px;
    }

    .house-summary-container {
      .summary-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;

        .summary-option {
          min-width: 120px;
          text-align: center;

          p {
            font-size: 0.8rem;
          }

          h2 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // Agent detail:

  .ad-container {
    width: 600PX;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;

    .agent-detail-container{
      width: 100%;
      padding: 0px 20px 50px 20px;
      display: flex;
      justify-content: center;

      .agent-img-container {
        margin-top: 60px;
        width: 320PX;
        height: 450px;
        position: relative;

        .ad-position {
          width: 100%;
          height: 50px;
          background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--red-shadow)) ;
          position: absolute;
          left: 0;
          bottom: 30px;
          padding-left: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            letter-spacing: 2px;
            font-size: 1.2rem;
            font-weight: 100;
            margin: 0;
            color: var(--white-base);
          }
        }

        .agent-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    p {
      margin-bottom: 12px;
      font-weight: 500;
    }

    h1 {
      text-transform: uppercase;
      line-height: 50px;
      margin-bottom: 32px;
      padding: 0px 20px;
      font-size: 3.8rem;
      font-family: var(--review);
      font-weight: 700;

      span {
        background: linear-gradient(to right, #000, var(--red-shadow));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        line-height: 50px;
        margin-bottom: 32px;
        font-size: 3.8rem;
        font-family: var(--review);
        font-weight: 700;
      }
    }

    .ad-contact-container {
      @include mix.insta-container(var(--black-base), var(--red-shadow), var(--black-base), var(--white-base));
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      margin: 30px 0px 30px 0px;

      .ad-contact-title {
        font-weight: 100;
      }

      .ad-contact-info {
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: 2px;
      }
    }

    figcaption {
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 700;
      padding: 0px 20px;
    }

    .ad-cto-container {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;

      button {
        width: 250px;
        @include mix.general-cto(var(--black-base), var(--red-shadow), var(--black-base))
      }
    }

    .ad-img-container {
      width: 325px;
      height: 325px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 50px;
      padding: 20px;
      background: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('../assets/building-agent.jpg');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;

      .ad-logo-container {
        height: 61px;
        display: flex;
        gap: 10px;

        .logo-icon-container {
          width: 61px;
          height: 61px;
          padding: 8px;
          background-color: var(--red-shadow);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .logo-name-container {
          height: 61px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          color: var(--white-base);

          .first-span {
            font-size: 0.55rem;
            letter-spacing: 2px;
          }

          .second-span {
            font-size: 1rem;
            letter-spacing: 2px
          }

          .tirth-span {
            @extend .first-span;
          }
        }
      }

      hr {
        width: 100%;
        border: 1px solid var(--red-shadow);
      }

      .ad-quickly {
        p {
          color: var(--white-base);
          font-size: 0.8rem;
        }
      }
    }
  }

}