@use 'mixins' as mix;

// layout:

.layout-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  header {
    width: 100%;
    height: 101px;
    padding: 20px 0px;
    font-weight: 500;

    nav {
      width: 100%;
      height: 100%;
      padding: 0px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-container {
        height: 61px;
        display: flex;
        gap: 10px;

        .logo-icon-container {
          width: 61px;
          height: 61px;
          background-color: var(--red-shadow);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .logo-name-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          font-weight: 600;

          .first-span {
            font-size: 0.5rem;
            letter-spacing: 2px;
          }

          .second-span {
            font-size: 0.9rem;
            letter-spacing: 2px;
          }

          .tirth-span {
            @extend .first-span;
          }
        }
      }


      .menu-container{
        width: 59px;
        height: 59px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border: 1px solid var(--red-shadow);
        padding: 0px 15px;

        .first-bar {
          width: 14px;
          align-self: flex-end;
        }

        span {
          width: 28px;
          height: 2px;
          background-color: var(--red-shadow);
        }
      }
    }
  }

  .workspace {
    width: 100%;
    height: calc(100% - 101px);
    overflow-y: auto;
  }
}


// Sidebar:

.sidebar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: absolute;
  z-index: 9999;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('../assets/sidebar_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .top-sidebar {
    width: 100%;
    height: 101px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .contact-sidebar-container {
      height: 59px;
      display: flex;
      align-items: center;
      gap: 40px;
      padding-left: 30px;
      color: var(--white-base);

      i {
        font-size: 1.4rem;
      }

      .phone {
        font-size: 1.2rem;
      }
    }

    .menu-sidebar-container {
      width: 59px;
      height: 59px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border: 1px solid var(--red-shadow);
      padding: 0px 15px;

      i {
        color: var(--red-shadow);
        font-size: x-large;
      }
    }
  }

  .list-sidebar-container {
    width: 100%;
    padding: 25px 0px 25px 50px;
    color: var(--white-base);
    background-color: rgba(0, 0, 0, 0.4);

    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      li {
        font-size: 1.4rem;
      }
    }
  }
}

.sidebar-open {
  top: 0;
  left: 0;
  transition: all ease-in 200ms;
}

.sidebar-closed {
  top: 0;
  left: 100%;
  transition: all ease-in 200ms;
}

// Buy:

.card-container{
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;

  .img-gradient {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));

    .ubication-container {
      width: 100%;
      padding-right: 20px;
      font-family: var(--review);
      color: var(--white-base);
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: end;

      .ub-street {
        margin-bottom: 8px;
        font-weight: 100;
        font-size: 0.9rem;
      }

      .ub-hood {
        font-weight: 700;
        margin: 0;
        font-size: 1.7rem;
      }

      .ub-cp {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }

    .price-container {
      width: 95%;
      height: 28px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      align-items: flex-end;
      letter-spacing: 2px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--red-shadow));
      padding: 5px 20px;
      color: var(--white-base);
      transform-origin: bottom;
      transition: all ease-in 200ms;

      .price {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
      }

      .card-summary {
        font-size: 0.6rem;
      }
    }

    button {
      @include mix.general-cto(var(--white-base), var(--red-shadow), var(--white-base));
      cursor: pointer;
      position: absolute;
      bottom: 0px;
      transform:  scale(80%);
      opacity: 0;
      transition: all ease-in 200ms;
    }

    &:hover {
      .price-container {
        height: 55px;
        transition: all ease-in 200ms;
      }

      button {
        opacity: 1;
        bottom: 10px;
        transition: all ease-in 200ms;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// Forms:

// -- Sell form:

.sell-form {
  width: 100%;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  gap: 30px;

  input {
    border-bottom: 1px solid var(--black-base) ;
    padding: 0 0 30px 10px;
    color: var(--black-base);
    font-weight: 600;

    &::placeholder {
      color: var(--red-shadow);
      font-weight: 500;
    }
  }

  div {
    border-bottom: 1px solid var(--black-base);
    padding: 0 0 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    p {
      color: var(--red-shadow);
      font-weight: 500;
    }

    select {
      width: 100%;
      align-self: flex-end;
    }
  }

  button {
    @include mix.general-cto(var(--black-base), var(--red-shadow), var(--black-base));
  }
}

// -- Contact form:

.contact-form-area {
  width: 100%;
  padding-top: 80px;

  h2 {
    text-align: start;
    font-size: 1.2rem;
    color: var(--black-base);
  }

  .contact-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 25px;

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--black-base);
      font-weight: 500;

      .radio-dot {
        width: 13px;
        height: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: var(--gray-base);
        transition: all ease-in 100ms;

        .radio-center {
          transform: scale(0);
          width: 11px;
          height: 11px;
          border: 1px solid var(--white-base);
          border-radius: 100%;
        }
      }

      input[type='radio'] {
        display: none;
      }

      input[type='radio']:checked + .radio-dot {
        background-color: var(--red-shadow);
        transition: all ease-in 100ms;

        .radio-center {
          transform: scale(100%);
        }
      }
    }

    .first-input-text {
      margin-top: 5rem;
    }

    input[type='text'] {
      width: 100%;
      border-bottom: 1px solid var(--black-base) ;
      padding: 0 0 30px 10px;
      color: var(--black-base);
      font-weight: 600;

      &::placeholder {
        color: var(--red-shadow);
        font-weight: 500;
      }
    }

    button {
      margin: auto;
      @include mix.general-cto(var(--black-base), var(--red-shadow), var(--black-base));
    }
  }
}

// -- Generic form:

.generic-form-area {
  width: 100%;
  padding: 0px 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .general-txt {
    text-align: center;
    font-weight: 500;
  }

  .general-title {
    line-height: 50px;
    font-size: 2.5rem;
    font-family: var(--review);
    font-weight: 700;

    span {
      background: linear-gradient(to right, #000, var(--red-shadow));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      line-height: 50px;
      font-size: 2.5rem;
      font-family: var(--review);
      font-weight: 700;
    }
  }

  .generic-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 25px;

    label {
      display: flex;
      gap: 10px;
      color: var(--black-base);
      font-weight: 500;
    }

    .first-input-text {
      margin-top: 2rem;
    }

    input[type='text'] {
      width: 100%;
      border-bottom: 1px solid var(--black-base) ;
      padding: 0 0 30px 10px;
      color: var(--black-base);
      font-weight: 600;

      &::placeholder {
        color: var(--red-shadow);
        font-weight: 500;
      }
    }

    button {
      margin: auto;
      @include mix.general-cto(var(--black-base), var(--red-shadow), var(--black-base));
    }
  }
}

// Footer:

.footer-container {
  width: 100%;
  padding-top: 80px;
  position: relative;

  .footer-bg-container {
    width: 100%;
    height: 835px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }
  }

  .footer-info-container {
    width: 95%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    .footer-logo-container {
      width: 100%;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--white-base);

      .footer-img-container{
        width: 100px;
        height: 100px;
        background-color: var(--red-shadow);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .footer-name-container {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;

          .first-span {
            font-size: 0.7rem;
            letter-spacing: 2px;
          }

          .second-span {
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 2px;
          }

          .tirth-span {
            font-size: 0.7rem;
            letter-spacing: 2px;
          }
      }
    }

    .footer-contact-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--white-base);

      p {

        &:nth-child(even) {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }

        &:nth-child(odd) {
          margin-bottom: 5px;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        @include mix.general-cto(var(--white-base), var(--red-shadow), var(--white-base));
      }
    }

    .footer-info {
      width: 100%;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .footer-services {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;

        .service-name {
          width: 70px;
          &:hover {
            cursor: pointer;
            color: var(--red-shadow);
          }

          p {
            font-weight: 600;
            font-size: 0.8rem;
          }
        }

        span {
          width: 1px;
          border-left: 2px solid var(--red-shadow);
        }

        .services-list {
          width: 70px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            font-size: 0.7rem;

            &:hover {
              color: var(--red-shadow);
              cursor: pointer;
            }
          }
        }
      }

      .privacy-container {
        p {
          text-align: center;
          font-size: 0.5rem;
        }
      }
    }
  }
}