* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--montserrat);
  font-size: 14px;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  outline: none;
}
